{%include 'header.html'%}
<div class="container" style="margin:0 auto;padding-top:100px;">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
    <div class="card" >
        <h5 class="card-header">College Grievance Status</h5>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: blue;color: #FFF">
                        <tr class="white">
                            <th>Sno</th>
							<th>Location</th>
							<th>Issue</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in cmp %}
                        <tr style="background: #FFF;color: #000">
                            <td>{{forloop.counter}}</td>
							<td>{{i.Location}}</td>							
							<td>{{i.Issue}}</td>
                            <td>{{i.status}}</td>				
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No Friends</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
